# projcet #
*.log
logs/
jmh/
jmh_*

# maven #
target/

# IDEA #
.idea/
*.iml
out/
*.ipr
.attach_pid*

# eclipse #
bin/
.settings/
.metadata/
.classpath
.project
Servers/

# Gradle #
.gradle
build/
.gradletasknamecache
