# projcet #
*.log
logs/

# maven #
target/

# IDEA #
.idea/
*.iml
out/

# eclipse #
bin/
.settings/
.metadata/
.classpath
.project
Servers/

# Gradle #
.gradle
build/
.gradletasknamecache