<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!-- 
  		在默认情况下，spring创建bean是单例模式
   		scope
   		   singleton  默认
   		      	单例
   		      	属性是共享的
   		      	一般情况下，把数据存放在方法中的变量中
   		   prototype
   		       	多例
   		       	当一个bean是多例模式的情况下，lazy-init为false或者default无效
   -->
  <bean id="helloWorld" class="com.github.kuangcp.ioc.scope.HelloWorld" scope="prototype"
    lazy-init="false"></bean>
</beans>