<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!--
    在这个配置中，spring容器要用默认的构造函数为HelloWorld创建对象
   -->
  <bean id="helloWorld" class="com.github.kuangcp.ioc.createobject.HelloWorld"></bean>

  <!--
    采用静态工厂方法创建对象
      factory-method为工厂方法
   -->
  <bean id="helloWorld2" class="com.github.kuangcp.ioc.createobject.HelloWorldFactory"
    factory-method="getInstance"></bean>
</beans>