<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!--
      beans
         把一个类放入到spring容器中，该类就称为bean
   -->
  <!--
    一个bean就代表一个类
      id就是唯一标识符
   -->
  <bean id="helloWorld" class="com.github.kuangcp.ioc.helloworld.HelloWorld"></bean>
</beans>